<div id="link"><h1>Stupid Coaching</h1></div>
<div id="question">Question : <%= @question %> <p id="who">-You</p></div>
<div id="answer"><b>Answer</b> : <%= @answer %> <p id="who">-Your coach</p></div>
<div id="link"><%= link_to "Add a new question", ask_path %></div>
s
