<h1>Stupid Coaching</h1>

<form action="/answer" data-turbo="false" method="get" class="form-inline">
<div class="form-group mx-sm-3 mb-2">
   Ask your coach anything:
    <input type="text" name="question" placeholder="Your question here..." class="form-control">
    <input type="submit" value="Ask" class="btn btn-primary mb-2">
  </div>
</form>
